header {

    margin-top: 60px;

}

.columns {

    /*border:1px #eeeeee solid;*/

}

h6.filter-heading {

    margin-bottom: 3px;

}



#main {

    border-left: 1px #CCC solid;

    border-right:1px #CCC solid;

}



a.x{margin-right: 10px;}



aside a {

    /*margin-bottom: 18px;*/

}

.location-text {

    font-size: .60rem;

    font-weight: bold;

    margin-bottom: 3px;

}

.desc-text {

    font-size: .60rem;

    margin-bottom: 3px;

}



.listing-wrapper, .featured-wrapper {

    border: 1px #8d8f8b solid;

    padding: 5px;

    background: #eeeeee;

}



.listing-wrapper a {

    /*margin-bottom: 18px;*/

    font-size: .60rem;

}

.label{

    width:100%;

    text-align: left;

}

.small-label {

    font-size: .55rem;

    text-align: left;

}



.lab{

  text-align: center;

}



div.row.bedroom-row, div.row.additional-row {

    margin-left: 0px;

    margin-right: 0px;

    border-bottom: 1px #CCC solid;

    margin-bottom:13px;

}



.bedroom-rad-column, .additional-rad-column {

    padding-left: 0px;

    padding-right: 0px;

}



input[type="radio"] ,input[type="radio"] + label {

    margin-left: 0px;

    margin-right: 0px;

    margin-bottom: 0px;

}



input[type="checkbox"]  {

    margin-left: 0px;

    margin-right: 0px;

    margin-bottom: 0px;

}



input[type="text"], select {

    margin-bottom: 11px;

}

h6.copyright {

    font-size: .80rem;

}



.list-image {

  width:92px; height:60px;

}



.list-image {

  width:118px; height:60px;

}



.reveal-modal {

    left: 0;

    margin: 0 auto;

    max-width: 25.5rem;

    right: 0;

    width: 80%;

}



#bed{

	padding-bottom: 0px;	

}



#admin_table {

    font-size: 12px;

}



td#admin_table {

    padding-top: 0px;

    padding-bottom: 0px;

}



.admin_panel{

	padding: 15px;

}



section#admin-properties {

    float: left;

}



#admin_details{

	float:right;

}



#admin_button{

	font-size:12px;

	width: 173px;

}



#edit-details, .view-details, #new-details{

	display:none;

}



#login_form{

	width: 500px;

	position: absolute;

	top: 50%;

	left: 50%;

	margin-left: -250px;

	margin-top: -100px;

	border: 1px solid lightgrey;

	padding: 0px 20px;

}

.row.full-width {
	width: 100%;
	max-width: 100%;
}

.view-listing{
	color: #008CBA;
}

li#user {
    margin-top: 9px;
}

#user span {
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}

#property-edit {
    margin-top: 40px;
}